body {
	color: black;
}

img {
	margin: 0 auto;
	padding: 10px;
}

.flowers {
	display: inline;
	margin: 0 auto;
}

div { 
	width: 650px;
	padding: 10px;
	background-color: white;
	color: black;
	margin: 0 auto;
}
	
h1 {
	text-align: center;
	font-family: Georgia;
	font-weight: bold;
	font-size: 48px;
	color: orange;
}

p {
	font-family: Georgia;
	font-size: 14px;
	color: black;
	line-height: 12px;
}