body {
	color: black;
}

div { 
	width: 650px;
	padding: 10px;
	background-color: #E0E0E0;
	color: black;
	margin: 0 auto;
	position: relative;
}

img {
	margin: 0 auto;
	padding: 10px;
	border-color: white;
	border-width: 5px;
	border-radius: 12px;
}
	
h1 {
	text-align: center;
	font-family: Helvetica Neue, Helvetica;
	font-weight: bold;
	font-size: 48px;
	color: orange;
}

p {
	font-family: Helvetica Neue, Helvetica;
	font-size: 14px;
	color: black;
	line-height: 20px;

}